<div id="navigation-menu" class="concealed">
    <ul class="buttons flexRow">
        <li>
            <button class="nav-button selected" id="face-left">Home</button>
        </li>
        <li>
            <button class="nav-button" id="face-back">About</button>
        </li>
        <li>
            <button class="nav-button" id="face-right">My work</button>
        </li>
        <li>
            <button class="nav-button" id="outside-the-box">Contact</button>
        </li>
    </ul>
</div>
